body{
  font-family :"Work Sans" ,sans-serif;
}
.top-tag{
   text-align: center;
   background-color: black;
   color:white;
  letter-spacing: 1.65px;
  padding:1px 0px;
  font-size:11px;
}
.nav{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:100%;
  margin-top: -20px;
}
.nav-heading{
  letter-spacing: 10px;
  font-size: 35px;
  
  font-weight: lighter;
  justify-self: center;
}
.nav-logos{
   display: grid;
   grid-template-columns: 70px 70px 70px 10px;
   justify-self: center;
   align-self:center;
   align-content: space-evenly;
}
.nav img{
  width: 30px;
}
